@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #41B3a3;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'Allan', cursive;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media(max-width: 580px) {
body {
    flex-direction: column;
}
}